form {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}

p {
  flex: 1;
}

p:has(button) {
  flex: 0;
}

label {
  display: block;
  margin-bottom: 0.35rem;
  font-weight: bold;
  font-size: 0.8rem;
  color: #1e2330;
}

input {
  font: inherit;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  border: 1px solid #deeff7;
  width: 100%;
  background-color: #deeff7;
  color: #353535;
}

input:focus-visible {
  outline: none;
}

button {
  font: inherit;
  padding: 0.35rem 1.5rem;
  border-radius: 4px;
  border: none;
  background-color: #262729;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #38393b;
  box-shadow: 0 0 0.5rem #38393b;
}
