main {
  margin: 3rem auto;
  width: 90%;
  max-width: 50rem;
  padding: 1rem;
  background-color: #a2afc2;
  border-radius: 4px;
}

hr {
  margin: 2rem 0;
  border: 1px solid #686c77;
}

.protected-content {
  background-color: #6a0931;
  color: white;
  padding: 1.5rem;
  border-radius: 4px;
}

#protected-content p {
  margin: 0;
}

.authenticated {
  background-color: #3a096a;
}

.admin {
  background-color: #1354be;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  height: 35px;
}

.logo-txt {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: flex-start;
}

.logo-img {
  width: 2rem;
  margin-right: 3px;
}

.logo-txt h1,
.logo-txt span {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 4px;
  color: #ffffff;
}

.logo-txt h1 {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 2px;
}

.logo-txt span {
  font-weight: lighter;
  font-size: 0.85rem;
}

.row {
  height: 1rem;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}
